<footer id="main-footer" class="text-center">
  <div>
    <a href="http://facebook.com">
      <i class="fab fa-facebook fa-2x text-primary"></i>
    </a>
  </div>
  <div>
    <a href="http://twitter.com">
      <i class="fab fa-twitter fa-2x text-primary"></i>
    </a>
  </div>
  <div>
    <a href="http://instagram.com">
      <i class="fab fa-instagram fa-2x text-primary"></i>
    </a>
  </div>
  <div>
    <a href="http://github.com/tcloetingh">
      <i class="fab fa-github fa-2x text-primary"></i>
    </a>
  </div>
</footer>