<nav id="navbar">
  <h1 class="logo">
    <a href="/" class="text-white">
      <i class="fas fa-leaf text-primary"></i>
      The Humbled Homeowner
    </a>
  </h1>
  <ul>
    <li><a href="/calculate">Calculate</a></li>
    <li><a href="/learn">Learn</a></li>
    <li><a href="#who">DIY Solutions</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>
</nav>